.set-card {
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    max-width: 400px;
    text-align: left;
 }
 
 .set-card.table {
   width: 90%;
   border-collapse: collapse;
   border-radius: 10px;
 }
 
 .set-card .row {
   display: flex;
   flex-direction: column; 
   align-items: center; 
 }
 
 .set-card.table th, .set-card.table td {
   border: 1px solid #3c3c3c; 
   padding: 8px;
   text-align: center; 
 }

 .set-card.title {
  border: none;
  border-collapse: collapse;
  width: 90%;
  padding: 8px;
  text-align: center;
 }

 .exercise-name {
  margin: 10px;
  display: flex;
 }
 
 
 