.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.split-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.exercise-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}