.navbar .nav-title {
    color: white !important;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.navbar .nav-title,
.navbar .nav-brand {
    color: white !important;
}

.navbar .nav-title:hover {
    color: #cfcfcf !important;
    border-bottom: 2px solid #ffffff !important; 
}


.navbar .nav-brand:hover {
    color: #cfcfcf !important; 
    border-bottom: 2px solid #ffffff !important; 
}

.navbar.custom-nav-color {
    background-color: #0353A4 !important; 
}

.navbar .navbar-text {
    color: white !important;
}
