@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
}

.workout-split-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: #f3f3f3;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}



.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}


.add-set-card-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    width: 150px;
    border: 2px solid #0582CA;
    color: #0582CA;
    cursor: pointer;
    align-self: center;
    background-color: white;
}

.add-set-card-button:hover {
    color: white;
    background-color: #0582CA;
    border: 2px solid #0582CA;
}

.submit-workout-button {
    margin: 15px !important;
    width: 100px !important;
    background-color: #007bff !important;
    border: none;
}

.submit-workout-button:hover {
    background-color: #026ee1 !important;
}

.submit-workout-button:active {
    background-color: #0065d2 !important;
}

.progress-title {
    font-size: 30px ;
}

.data-title {
    margin-bottom: 15px;
    
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}