.landing-page {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  height: 100vh;
}

.split-half {
  display: flex;
  height: 100%;
}

.split-half > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.split-half > div:first-child {
  background-color: #f0f0f0;
}

.split-half > div:last-child {
  background-color: #ffffff;
}

.title {
  text-align: center;
}
